<div class="text-center">
    <h5 class="text-center">Online Anket Uygulamasına Hoşgeldiniz!</h5>
    <br />
    <h6 style="font-weight:400" class="text-center">Bu uygulama, Turkcell Geleceği Yazanlar .Net sınıfının final projesi olarak Arda Odabaşı tarafından oluşturulmuştur.</h6>
    <br />
    <img style="max-width: 100%; height: auto;" src="~/img/onlinesurvey.png"/>
</div>
