<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h5 class="text-center">Ankete Katıldığınız İçin Teşekkür Ederiz!</h5>
    </div>
    <div class="col-md-2"></div>
</div>


